/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
  box-sizing: border-box;
  @include font-size(1);
}

.container-width {
  margin-left: auto;
  margin-right: auto;
  width: $base__width;
}
body.blog, body.post-template-default, body.page-template-default, body.search-results, body.date {
.site-content {
  margin-left: auto;
  margin-right: auto;
  width: $base__width;
  display: flex;
  padding-top: 49px;
  .content-area {
    width: 73%;
    border-right: $border__solid;
    padding-right: 5%;
  }
  .widget-area {
    width: 27%;
    padding-left: 5%
  }
}
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: $color__background-body; /* Fallback for when there is no custom background color defined. */
  
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}
