footer#colophon.site-footer {
    background: url("../../assets/images/dark-wood.png");
}

div.site-info {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 60px 0 50px 0;
    p {
        color: white;
    }
    div.contact-info {
        display: grid;
        flex-basis: 25%;
        h3 {
            color: $color__brand-orange;
            text-transform: uppercase;
            margin: 0;
            letter-spacing: 2px;
            font-family: $font__accent-bold;
            padding-bottom: 4px;
            line-height: 1.5;
            font-size: 19px;
        }
        i {
            color: white;
            font-size: 20px;
            padding: 16px 8px 8px 0;
        }
        a, span.phone {
            color: white;
            text-decoration: none;
            font-family: $font__main;
            font-size: 16px;
            &:hover {
                text-decoration: underline;
            }
        }
        a, span.email {
            color: white;
            text-decoration: none;
            font-family: $font__main;
            font-size: 16px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    div.business-hours {
        flex-basis: 25%; 
        h3 {
            color: $color__brand-orange;
            text-transform: uppercase;
            margin: 0;
            letter-spacing: 2px;
            font-family: $font__accent-bold;
            padding-bottom: 4px;
            font-size: 19px;
            line-height: 1.5;
        } 
        p {
            margin: 0;
            padding: 8px 0 8px 0;
        } 
        span.days {
            font-family: $font__main-bold;
        }
    }
    div.logo-footer {
        flex-basis: 50%;
        justify-content: flex-end;
        display: flex;
        img {
            width: 280px;
            height: auto;
        }
    }
}
p.copyright {
    text-align: center;
    padding: 26px 0;
    font-family: $font__accent;
    text-transform: uppercase;
    margin: 0;
    color: white;
}
