.home-hero {
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%), url(../../assets/images/home-hero.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 100%;
}

.page-template-front-page #primary.content-area {
    padding-top: 0;
    h2 {
        font-family: $font__accent;
        text-align: center;
        text-transform: uppercase;
        color: $color__brand-purple;
        font-size: 2.4rem;
        letter-spacing: 2px;
        padding-top: 1.9rem;
        padding-bottom: 1.1rem;
    }
    .shop-display {
        display: flex;
        justify-content: space-between;
        .frontpage-term {
            border: $border__solid;
            border-top-width: 5px;
            max-width: 263px;
            text-align: center;
            padding: .75rem;
            padding-bottom: 0;
            &:hover {
                border-color: $color__brand-orange;
            }
            img {
                width: 4.4rem;
                height: auto;
                margin: 0 auto;

            }
            p{
                font-family: $font__main-light;
                padding-bottom: 0.5rem;
                a{
                    background: $color__brand-green;
                    text-decoration: none;
                    color: $color__background-body;
                    font-family: $font__accent;
                    font-size: .9rem;
                    line-height: 1;
                    padding: .75rem 1.5rem;
                    text-transform: uppercase;
                    &:hover {
                        background: #165752;
                    }
                }
            }
        }
    }
    .journal-display {
        display: flex;
        justify-content: space-between;
        .journal-entry {
            border: $border__solid;
            max-width: 358px;
            text-align: center;
            img {
                border-bottom: $border__solid;
                border-bottom-width: 5px;
                width: auto;
                height: 250px;
            }
        } 
        .entry-display {
            padding: 0.75rem;
            text-align: left;
            .entry-meta {
                display: block;
                font-size: 0.75rem;
                line-height: 1;
                padding-top: 0.2rem;
                font-family: $font__main-light;
            }
            a {
                display: block;
                text-decoration: none;
                font-family: $font__accent-bold;
                text-transform: uppercase;
                color: $color__brand-green;
                font-size: 1.3rem;
                letter-spacing: 2px;
                padding-top: .35rem;
                padding-bottom: 1.25rem;
                line-height: 1.25;
                &:hover {
                    color: $color__brand-purple;
                }
            }
            a.read-more {
                border: 1px solid black;
                color: black;
                font-family: $font__accent;
                font-size: 0.9rem;
                letter-spacing: 0;
                padding: 0.75rem 1.5rem;
                line-height: 1;
                width: 138px;
                &:hover {
                    background-color: $color__brand-green;
                    color: $color__background-body;
                    border-color: $color__brand-green;
                }
            }
        }
    }
    .latest-display {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 265px);
        grid-gap: 20px 20px;
        .latest-container {
            padding: 1.5rem;
            img {
                height: 100%;
                width: auto;
            }
            h2 {
                position: absolute;
                text-transform: none;
                font-family: $font__main-light;
                color: $color__background-body;
                width: 500px;
                text-align: left;
                margin: 0;
                line-height: 1.25;
                padding-top: 1.6rem;
                &:hover {
                   color: $color__brand-yellow;
                   cursor: pointer;
                }
            }
            p{
                margin-top: 11.25rem;
                color: $color__background-body;
                border: 1px solid white;
                padding: .75rem 1.5rem;
                text-transform: uppercase;
                font-family: $font__accent;
                width: 133px;
                font-size: 0.9rem;
                line-height: 1;
                &:hover {
                    background: $color__brand-green;
                    border-color: $color__brand-green;
                    cursor: pointer;
                }
            }
        }
        .canoe {
            background: linear-gradient(180deg,rgba(0,0,0,.35) 0,rgba(0,0,0,.25)),url(../../assets/images/latest-adventures/canoe-girl.jpg);
            background-size: 950px auto;
            background-position: center; 
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            h2 {
                font-size: 3rem;
            }
        }
        .bonfire {
            background: linear-gradient(180deg,rgba(0,0,0,.35) 0,rgba(0,0,0,.25)),url(../../assets/images/latest-adventures/beach-bonfire.jpg);
            background-size: 650px auto;
            background-position: center; 
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 2; 
            p{
                margin-top: 9rem;
            } 
        }
        .hikers {
            background: linear-gradient(180deg,rgba(0,0,0,.35) 0,rgba(0,0,0,.25)),url(../../assets/images/latest-adventures/mountain-hikers.jpg);
            background-size: 650px auto;
            background-position: center;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3; 
            h2 {
                font-size: 1.6rem;
                width: 250px;
            } 
            p {
                margin-top: 8.5rem;
            }
        }
        .sky {
            background: linear-gradient(180deg,rgba(0,0,0,.35) 0,rgba(0,0,0,.25)),url(../../assets/images/latest-adventures/night-sky.jpg);
            background-size: 650px auto;
            background-position: center;
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;
            h2 {
                font-size: 1.6rem;
                width: 250px;
            }
            p {
                margin-top: 6.5rem;
            }
        }
    }
    p.more-adventures {
        background: $color__brand-green;
        color: $color__background-body;
        text-transform: uppercase;
        font-family: $font__accent;
        font-size: 1.2rem;
        padding: 0.75rem 1.5rem;
        width: 235px;
        line-height: 1;
        &:hover {
            background: #165752; 
            cursor: pointer;
        }
    }
}
