.site-header {
    border-bottom: $border__solid;
    padding: .5rem 0 6px 0;
    position: fixed;
    background-color: hsla(0,0,100,.85);
    z-index: 5;
    width: 100%;
    line-height: 1;
    .container-width {
        display: flex;
        align-items: center;
        nav {
            justify-content: flex-end;
        }
        img {
            width: 52px;
            height: auto;
        }
        a {
            color: $color__brand-green;
            &:hover {
                color: $color__brand-purple;
            }
        }
        li {
            padding-left: $base__space-unit;
        }
        fieldset {
            border: 0;
            padding: 0;
            margin: 0;
            button {
                border: 0;
                background: none;
                box-shadow: none;
                padding: 0;
                i {
                    color: $color__brand-green;
                    font-size: 15.5px;
                    padding-left: 1.5rem;
                }
            }
        }
	} 
	.search-form .search-field {
		width: 0;
		overflow: hidden;
		opacity: 0;
		transition: 0.5s;
	}
	.search-form .search-field.show {
		width: 160px;
		opacity: 1;
	}
}