/* Journal - index.php & single.php */
#primary.content-area {
    padding: 48px 0;
}

.hentry {
    margin: 0 0 4.5rem;
}

article.post {
    margin-bottom: 24px;
}

time.updated {
    display:none;
}

.blog .site-main, .single-post, .date .site-main, .category .site-main, .tag .site-main {
    .entry-header {
        position: relative;
        img {
            width: 760px;
            height: auto;
        }
        h2, h1 {
            position: absolute;
            background-color: $color__brand-green;
            top: 0;
            margin-top: 36px;
            padding: 12px 24px;
            max-width: 70%;
            line-height: 1.25;
            color: white;
            text-transform: uppercase;
            font-family: $font__accent-bold;
            letter-spacing: 2px;
            font-size: 33.6px; 
            a {
                color: white;
                text-decoration: none; 
                &:hover {
                    color: $color__brand-yellow;
                }
            }
        }
    }
    .entry-meta {
        position: absolute;
        background-color: $color__brand-green;
        bottom: 0;
        right: 0;
        padding: 16px 24px;
        color: white;
        font-family: $font__accent;
        text-transform: uppercase;
        line-height: 0;
        margin-bottom: 8px;
        margin-right: 57px;
        a {
            text-decoration: none;
            color: white;
            &:hover {
                color: $color__brand-yellow;
            }
        }
    }
    .entry-content {
        margin-bottom: 72px;
        p {
            margin-bottom: $base__space-unit;
            font-family: $font__main-light;
            max-width: 92%;
        }
        a {
            background-color: white;
            border: 1px solid black;
            color: black;
            font-family: $font__accent;
            padding: .75rem 1.5rem;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.9rem;
            line-height: 1;
            &:hover {
                background-color: $color__brand-green;
                color: white;
                border: none;
            }
        }
        span {
            line-height: $font__line-height-body;
        }
    }
    .entry-footer {
        text-transform: uppercase;
        font-family: $font__accent;
        margin-bottom: 20px;
        span {
            margin-right: 25px;
            a {
                text-decoration: none;
                color: $color__brand-green;
                &:hover {
                    color: $color__brand-purple;
                }
            }
        }
    }
    button {
        border-radius: 0;
        border-color: black;
        background: white;
        box-shadow: none;
        color: black;
        display: inline-flex;
        padding: .75rem 1.5rem;
        &:hover {
            color: white;
            background: $color__brand-green;
            border-color: $color__brand-green;
        }
        p {
            margin: 0;
            font-size: 0.9rem;
            text-transform: uppercase;
            font-family: $font__accent;
            i {
                padding-right: 10px;
            }
        }
    }
}

.date, .category, .tag {
    .site-main header h1 {
        width: 93%;
        text-transform: uppercase;
        font-family: $font__accent-bold;
        line-height: 1.25;
        margin-top: 0;
        font-size: 2.4rem;
        letter-spacing: 2px;
        border-bottom: $border__solid;
        padding-bottom: 1.5rem;
        margin-bottom: 3rem;
    }
}

#site-navigation.main-navigation button.menu-toggle {
    border-color: transparent;
    background: none;
    color: transparent;
    height: 2px;
    font-size: 0px;
    padding: 0;
}

.single-post { 
    h1.entry-title {
        max-width: 51%;
    }
    .entry-meta {
        margin-right: 360px;
    }
    .entry-content {
        width: 72%;
        margin-bottom: 0;
    }
}

.comments-area {
    width: 73%;
    border-right: $border__solid;
    padding-right: 5%;
  }

h2.comments-title {
    text-transform: uppercase;
    padding-top: 37px;
    font-family: $font__accent-bold;
    font-size: 2.1rem;
    letter-spacing: 2px;
    color: $color__brand-purple;
    margin-bottom: 0;
}

.comment-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li.thread-even, li.thread-odd {
        border-bottom: 1$border__solid;
    }
    ul.children {
        list-style: none;
    }
}

.comment-body {
    display: flex;
    padding-top:20px;
    img {
        border-radius: 50%;
    }
    .comment-content {
        padding-left: 24px;
        .comment-author cite {
            font-family: $font__main-bold;
            font-style: normal;
        }
        .comment-metadata {
            color: $color__brand-medium-grey;
            font-family: $font__main-light;
            a {
                color: $color__brand-green;
                text-decoration: none;
            }
        }
        p {
            font-family: $font__main-light;
            margin-bottom: 13px;
        }
        .reply {
            padding-bottom: 24px;
            a {
            text-decoration: none;
            color: $color__brand-green;
            padding-bottom: 20px;
            }
        }
    }
}

.children li {
    border-top: $border__solid;
}

.comment-respond {
    .comment-reply-title {
        text-transform: uppercase;
        margin-top: 1rem;
        font-family: $font__accent-bold;
        font-size: 1.8rem;
        letter-spacing: 2px;
        margin-bottom: 22px;
    }
    form p {
        margin-top:0px;
        font-family: $font__main-light;
    }
    .comment-form-comment, 
    .comment-form-author, 
    .comment-form-email, 
    .comment-form-url {
        text-transform: uppercase;
        color: $color__brand-purple;
        font-family: $font__accent;
        font-size: 1.1rem;
        padding-bottom: $base__space-unit;
        margin-bottom: 15px;
        display: inline-block;
        label {
            padding-bottom: 8px;
            display: block;
        }
        span {
            color: $color__brand-orange;
        }
        input {
            width: 373px;
            color: #666;
            background-color: #f4f4f4;
            border: $border__solid;
            border-radius: 0;
            height: 40px;
        }
        input#url {
            width: 761px;
        }
    }
    .comment-form-author {
        margin-right: 10px;
        margin-bottom: 0;
    }
    .comment-form-email {
        margin-bottom: 0;
    }
    .comment-form-url {
        padding-bottom: 10px;
    }
    textarea {
        color: #666;
        background-color: #f4f4f4;
        border: $border__solid;
        border-radius: 0;
        width: 761px;
    }
    input#submit {
        background: $color__brand-green;
        border: none;
        border-radius: 0;
        color: $color__background-body;
        font-family: $font__accent;
        font-size: .9rem;
        line-height: 1;
        padding: .75rem 1.5rem;
        text-transform: uppercase;
        box-shadow: none;
        &:hover {
            background: #165752;
        }
    }
}