/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

/* Journal - index.php */
#primary.content-area {
    padding: 48px 0;
}

.hentry {
    margin: 0 0 4.5rem;
}

.blog .site-main {
    .entry-header {
        position: relative;
        img {
            width: 760px;
            height: auto;
        }
        h2 {
            position: absolute;
            background-color: #248a83;
            top: 0;
            margin-top: 36px;
            padding: 12px 24px;
            max-width: 70%;
            line-height: 1.25;
            a {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Novecento Bold', sans-serif;
                letter-spacing: 2px;
                font-size: 33.6px; 
                &:hover {
                    color: #f0e4d1;
                }
            }
        }
    }
    .entry-meta {
        position: absolute;
        background-color: #248a83;
        bottom: 0;
        right: 0;
        padding: 16px 24px;
        color: white;
        font-family: 'Novecento', sans-serif;
        text-transform: uppercase;
        line-height: 0;
        margin-bottom: 8px;
        margin-right: 57px;
    }
    .entry-content {
        p{
            margin-bottom: 1.5rem;
            font-family: 'Merriweather-Light', serif;
            max-width: 92%;
        }
        a {
            background-color: white;
            border: 1px solid black;
            color: black;
            font-family: 'Novecento', sans-serif;
            padding: .75rem 1.5rem;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.9rem;
            line-height: 1;
            &:hover {
                background-color: #248a83;
                color: white;
                border: none;
            }
        }
    }
}

/* Find Us - contact.php */

/* About - about.php */

/* Single product - single-product.php */
