/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget-area {
	padding-top: 3rem;
	h2 {
		color: $color__brand-purple;
		margin-bottom: $base__space-unit;
		line-height: 1.25;
		font-family: $font__accent-bold;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	p {
		margin-bottom: 0.5rem;
		font-family: $font__main-light;
		i {
			margin-right: 0.5rem;
		}
		a {
			color: $color__brand-green;
			text-decoration: none;
			&:hover {
				color: $color__brand-purple;	
			}
		}
		span {
			padding-left: 4px;
			&.space{
				padding-left: 28px;	
			}
		}
		span.day-of-week{
			padding: 0;
			font-family: $font__main-bold;
		}
	}
	ul {
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
		a {
			color: $color__brand-green;
			text-decoration: none;
			font-family: $font__main-light;
			&:hover {
				color: $color__brand-purple;	
			}
		}
	}
}
